# Introduction to Tuples

In this notebook we will cover the concepts of Tuples like creating , accessing , tuple operations, packing and unpacking, methods in tuples.

In [1]:
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl= tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,3,5])
numbers

(1, 2, 3, 3, 5)

In [6]:
list((2,3,4,4,5))

[2, 3, 4, 4, 5]

In [7]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
numbers

(1, 2, 3, 3, 5)

In [9]:
print(numbers[2])
print(numbers[-1])

3
5

In [10]:
numbers[0:4]

(1, 2, 3, 3)

In [11]:
numbers[::-1]

(5, 3, 3, 2, 1)

In [12]:
concatination_tuple = numbers  + mixed_tuple
print(concatination_tuple)

(1, 2, 3, 3, 5, 1, 'Hello World', 3.14, True)

In [13]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [15]:
Mul_3 = numbers*3*3
print(len(Mul_3))

45

In [16]:
#imutable nature of tuples

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [17]:
numbers[1] = "krish"

TypeError: 'tuple' object does not support item assignment

In [18]:
numbers

(1, 2, 3, 3, 5)

In [19]:
#Tuple Methods
print("Count of 1 in Tuple: ", numbers.count(1))
print("Count of 3 in Tuple: ", numbers.count(3))

Count of 1 in Tuple:  1
Count of 3 in Tuple:  2

In [22]:
#packing and unpacking tuple
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [23]:
#unpacking a tuple
a,b,c =  packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [24]:
numbers=(1,2,3,4,5,6)
first,*middle, last = numbers
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

In [25]:
#Nested tuple
lst = [[1,2,3,4,5],[6,7,8,9,],[1, 'Hello', 3.14]]
lst[0][0:3]

[1, 2, 3]

In [27]:
lst[2][0:3]

[1, 'Hello', 3.14]

In [28]:
nested_tuple = ((1,2,3),("a","b","c"),(True, False))

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [29]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False